<div class="text center mt-3">
  <h2>
    {{ predicate === "exchanged" ? "Quiero intercambiar con estos miembros" : "Miembros que quieren intercambiar conmigo" }}
  </h2>
</div>

<div class="container mt-3">
  <div class="d-flex">
    <div class="btn-group" name="predicate">
      <button
        class="btn btn-primary"
        btnRadio="exchanged"
        [(ngModel)]="predicate"
        (click)="loadExchanges()"
      >
        Interes en
      </button>
      <button
        class="btn btn-primary"
        btnRadio="exchangedBy"
        [(ngModel)]="predicate"
        (click)="loadExchanges()"
      >
        Interesados
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2" *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
